<nav>
  <ul>
    <li><a class="<%= page == '/' ? 'active' : '' %>" href="/">Home</a></li>
    <li><a class="<%= page == '/about' ? 'active' : '' %>" href="/about">About</a></li>
    <li><a class="<%= page == '/lego/addSet' ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
    <li><a class="<%= page == '/lego/sets' ? 'active' : '' %>" href="/lego/sets">Collection</a></li>
  </ul>
</nav>
